{% extends "notes/base.html" %}

{% block content %}
<div class="container">

  <form class="form-card" method="post">
      {% csrf_token %}
      <input class="form-card-title" id="titulo" type="text" name="titulo" placeholder="Título" />
      <textarea class="autoresize" id="detalhes" name="detalhes" placeholder="Detalhes"></textarea>
      <input class="form-card-title" id="tag" type="text" name="tag" placeholder="Adicione uma tag" />
      <input class="btn" type="submit" value="Salvar" />
  </form>

  <a class="btn" href="{% url 'tags' %}">Ver tags</a>

  <div class="card-container">
    {% for note in notes %}
    <div class="card">
      {% if note.tag %}
      <a href="{% url 'tag_detail' note.tag.id %}">{{ note.tag.name }}</a>
      {% endif %}
      <a class="card-delete"
         href="#"
         data-id="{{ note.id }}"
         data-title="{{ note.title }}"
         data-details="{{ note.content }}">🗑️</a>
      <a class="card-edit" href="{% url 'edit' note.id %}">✏️</a>
      <h3 class="card-title">{{ note.title }}</h3>
      <div class="card-content">
        <p>{{ note.content }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}